@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/* ALL PAGES */

*:not(dialog) {
  padding: 0;
  margin: 0;
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  line-height: 2em;
}
dialog::backdrop {
  backdrop-filter: blur(4px);
}

.hidden {
  display: none !important;
}

body {
  background: #e8cbc0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #636fa4, #e8cbc0);
}

header {
  height: 5rem;
}

.title {
  display: flex;
  justify-content: center;
}

/* INTRODUCTION SCREEN */

.intro-screen {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.home-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}

.time-to-play {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 77%;
  width: 35%;
  background-image: url("./images/cat-button.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

#start {
  width: 5rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*       LEVEL 2 GAME SCREEN */

/* LEFT EXPLANATIONS */

#level-one-screen {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.game-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-intro p {
  font-size: 1rem;
}

#keyboard-arrows {
  width: 10rem;
  height: 10rem;
  background-image: url("./images/arrows-keyboard.png");
  background-size: contain;
}

/* MIDDLE CANVAS */

#game-board-level-one {
  float: left;
  padding: 20px 0px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: #636fa4;
}

/* RIGHT SCORE AND TIME */

.score-and-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-and-timer h2 {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start-button-level-one {
  width: 6rem;
  height: 3rem;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}

#running1 {
  display: none;
}

/* GAME OVER MODAL */

#div-game-over-alert {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 40vh;
  background-image: url("./images/cat-reel-miaou.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end;
  padding: 0;
}

#game-over-alert h2 {
  color: white;
  padding: 0;
  font-size: 0.75rem;
}

#button-try-again button {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
}

/* YOU WIN MODAL */

#div-you-win-alert {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 40vh;
  background-image: url("./images/cat-happy.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

#you-win-alert h2 {
  color: black
  padding: 0;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
}

#button-try-again button {
  width: 8rem;
  height: 2rem;
  font-size: 0.75rem;
}
